In [15]:
class Employee:
  employee_count=0
  def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count = Employee.employee_count+1
  def average_salary(self,employees):
    normal_salary=0
    for i in employees:
      normal_salary=normal_salary+i.salary
      return normal_salary/len(employees)
class fulltime_employee(Employee):
  def __init__(self,name,family,salary,department):
    Employee.__init__(self,name,family,salary,department)
  list=[]
  list.append(Employee('john','swift',40000,'computer science'))
  list.append(Employee('David','Warner',60000,'computer science'))

  list.append(fulltime_employee('mani','Allada',70000,'Cybersecurity'))
  list.append(fulltime_employee('Vanitha','Chintalapudi',80000,'computer science'))

  list[0].average_salary(list)
  list[2].average_salary(list)
  print("number of employees:")
  print(Employee.employee_count)

10000.0
25000.0
42500.0
62500.0
number of employees:
4

In [16]:
import numpy as np
# Create random vector of size 20 with floats between 1 and 20
vector = np.random.uniform( 4,5,20)
# reshaping the vector to 4 by 5
mat = vector.reshape(4,5)
#replace the max in each row by 0 (axis=1)
mat[np.arange(4),mat.argmax(axis=1)]=0
#output
print(mat)

[[4.60993739 4.06896218 0.         4.18211677 4.449174  ]
 [4.04554056 0.         4.26657981 4.31296757 4.02927214]
 [4.52662385 0.         4.63076971 4.60420341 4.16916551]
 [4.70187685 4.76423694 4.60705487 4.37234034 0.        ]]

**Video link:**
https://drive.google.com/file/d/1dTLeIvIsVU0yR5i0Rfu3ICCOV1Qss-f8/view?usp=drive_link